
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Lato:wght@300;400;700&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #0f172a;
    background-image: radial-gradient(circle at 50% 0%, #334155 0%, #0f172a 80%);
    color: #f1f5f9;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.container {
    background: rgba(30, 41, 59, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 3rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: transform 0.3s ease;
}

h1 {
    color:  #fbbf24;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Cinzel', serif;
    text-shadow: 0 2 4px rgba(0, 0, 0, 0.5);

}

form {
    display: flex;
    flex-direction: column;
}
    
.container:hover {
    box-shadow: 0 0 20px rgba(251, 191, 36, 0.15);
}

#potter-name {
    padding: 12px;
    font-family: 'Cinzel', serif;
    border-radius: 8px;
    border: 1px solid #334155;
    font-size: 16px;
    background-color: #1e293b;
    color: white;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
#potter-name::placeholder {
    color: white;
}

#btn {
    background-color: #fbbf24;
    color: #0f172a;
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

#btn:hover {
    background-color: #f59e0b;
    transform: translateY(2px);
}


.potter-info{
    margin-top: 20px;
    display: none;
}
.potter-info img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.potter-info h3{
    margin-bottom: 20px;
    color: #fbbf24;
    font-family: 'Cinzel', serif;
}
.potter-info p{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}